  
         /*start main Rulez*/
     
        body{
	        background-color: #EBEEF4;
            font-size: 16px;
         }
         .nice-message{
          padding: 10px;
          background-color: #FFF;
          margin: 10px 0;
          border-right: 5px solid #EEE;

         }
         h1{
          color: #666;
          font-weight: bold;
         }
            .astricks{
           font-size: 30px;
           position: absolute;
           right: 30px ;
           top: 4px;
           color: red;
         }
          /*end main Rulez*/
          /* Start Header*/ 
          .dropdown-menu{
            background-color: #c9c9c9;
          }
           .upper-bar{
            padding: 10px;
            background-color: #040900;
            color: #FFF;
           }
           .my-image{
            width: 35px;
            height: 35px;
           }
           .main-category{
            font-weight: bold;
            color: #3F58BE;
            margin-left: 11px;
           }

          /*End Header*/
          /*Start Login Page*/
           .login-page form{
            max-width: 400px;
            margin: auto;
           }

           .login-page [data-class="login"].selected{
           color: #337AB7;
           }
           .login-page [data-class="signup"].selected{
           color: #5cb85c;
           }
          .login-page h1{
           color: #C0C0C0;
           }
           .login-page span{
            cursor: pointer;
           }
           .login-page .signup{
            display: none;
           }
          /* End Login Page*/
          /* Start Categories page*/
         .item-box{
          position: relative;
          height: 400px;
          }
         .item-box .approve-status{
          position: absolute;
          top: 40px;
          left: 0;
          background-color: #b85a5a;
          color: #FFF;
          padding: 3px 5px;
          }
         .item-box .price-tag{
          background-color: #BEBEBE;
          padding: 2px 10px;
          position: absolute;
          left: 0;
          top: 10px;
          font-weight: bold;
          }
          .item-box .caption p{
            height: 44px;
          }
           /* End Categories page*/
           /* Start Profile page*/
          .information{
           margin-top:  20px;
           }
           .information ul{
            padding: 0;
            margin: 0;
           }
           .information ul li{
            padding: 10px;
           }
           .information ul li:nth-child(odd){
            background-color: #EEE;
           }
            .information ul li span{
              display: inline-block;
              width: 120px;
            }
            .thumbnail .date{
              text-align: right;
              font-size: 13px;
              color: #AAA;
              font-weight: bold;
            }
            .information .btn{
             margin-top: 10px;
            }
            /* End Profile page*/
           /*Start Show Item Page*/
           .item-info h2{
            padding: 10px;
            margin: 0;

           }
           .item-info ul li{
            padding: 10px ;
            }
           .item-info ul li:nth-child(odd){
            background-color: #e8e8e8;
           }
           .item-info ul li span{
              display: inline-block;
              width: 120px;
            }
            .tags-item a{
              display: inline-block;
              background-color: #e2e2e2;
              padding: 2px 10px;
              border-radius: 5px;
              color: #666;
              margin-right: 5px;

            }

            .custom-hr{
              border-top: 1px solid #c9c9c9;
            }
            .add-comment h3{
              margin: 0 0 10px;
            }
            .add-comment textarea{
              display: block;
              margin-bottom: 10px;
              width:400px;
              height: 120px;
            }
            .comment-box{
             margin-bottom: 20px;
           }
           .comment-box img{
            max-width: 100px;
            margin-bottom: 10px;
           }
           .comment-box .lead{
            background-color: #c9c9c9;
            position: relative;
            padding: 10px;
            margin-top: 25px;
           }
           .comment-box .lead:before{
            content: "";
            width: 0;
            height: 0;
            border-width: 15px;
            border-style: solid;
            /* to make triangle */
            border-color:  transparent  #c9c9c9 transparent transparent;
            position: absolute;
            left: -28px;
            top: 10px;

           }
           
           /*End Show Item Page*/
           /* Start New Item Page */
              #image_preview{
              width: 330px;
              height: 300px;
               
              }
                 #error
                  {
                  color:red;
                  }
                  #error_message
                  {
                  color:blue;
                  }
             /*End New Item Page*/

