  
         /*start main Rulez*/
     
        body{
	        background-color: #EBEEF4;
            font-size: 16px;
         }
         .nice-message{
          padding: 10px;
          background-color: #FFF;
          margin: 10px 0;
          border-right: 5px solid #EEE;

         }
         h1{
          color: #666;
          font-weight: bold;
         }
       
          /*end main Rulez*/
       

         /* Start login form*/
         .login{
         	width: 300px;
         	margin-left: 100px auto;
         }
         /*Start Dashboard */
          .home-stats .stat{
            background-color: #EEE;
            border: 1px solid #CCC;
            padding: 20px;
            font-size: 15px;
            color: #FFF;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
          }
          .home-stats .stat a {
            color: #FFF;
          }
           .home-stats .stat a:hover {
            text-decoration: none;
          }
          .home-stats .stat span{
            display: block;
            font-size: 50px;

          }
           .home-stats .stat i{
          position: absolute;
          font-size: 60px;
          top: 35px;
          left: 30px;
          }
          .home-stats .stat .info{
          float: right;
          }
          .latest{
            margin-top: 30px;
          }
          .latest .toggle-info{
            color: #999;
          }
          .latest .toggle-info:hover{
           color: #444;
           cursor: pointer;
          }
          .latest .comment-box{
          margin:5px 0 10px;
          }
          .latest .comment-box .member-comment,
          .latest .comment-box .comment
          { 
            /*float: left;*/
            display: inline-block;
          }
            .latest .comment-box .member-comment{
            margin-right: 20px;
            text-align: center;
            width: 80px;
            position: relative;
            color: blue;
            top: 2px;
           
          }
          .latest .comment-box .comment{
           
            width: calc(100%-100px);
            background-color: #EFEFEF;
            padding: 10px;
            position: relative;
          }

        
          .latest .comment-box .comment:before{
           content: "";
           display: block;
           position: absolute;
           left: -29px;
           top: 5px;
           width: 0;
           height: 0;
           border-style: solid;
           border-color: transparent #EFEFEF transparent transparent;
           border-width: 15px;
           }

          /*End Dashboard*/

          .home-stats .st-members{
            background-color: #1abc9c;
          }
           .home-stats .st-pending{
            background-color: #2ecc71;
          }
           .home-stats .st-items{
            background-color: #27ae60;
          }
          .home-stats .st-comments{
           background-color:#16a085;
          }
         
          .confirm {
            margin-left: 5px;
          }
          .activate{
            margin-left: 5px;
          }
          .latest-all{
            margin-bottom: 0;

          }
          .latest-all li{
            padding: 5px ;
            overflow: hidden;
          }
          .latest-all li:nth-child(odd){
          /* nth-child make one work with that design and second no ....etc */
            background-color: #EEE;
          }
          .latest-all .btn-success,
          .latest-users  .btn-info{
            padding: 2px 8px;
          }
          .latest-all  .btn-info{
            margin-right: 5px;
          }







          /*End Dashboard */
          #edit{
            width :900px;
         }
         .form-control{
            position: relative;
         }
        .astricks{
           font-size: 30px;
           position: absolute;
           right: 30px ;
           top: 4px;
           color: red;
         }
         .show-pass{
             position: absolute;
             top:6px ;
             right: -30px;

         }


         .main-table tr:first-child td{
            background-color: #333;
            color: #FFF;
         }
             .main-table td{
            background-color: #FFF;
         }
         .btn{
            padding: 3px 10px;
         }


         /*end main Rulez*/
         /*Start Category Page*/
          /*Start Manage Page*/
        .categories .cat h3{
          margin: 0 ;
          cursor: pointer;
          color: #6A6A6A;
          font-weight: bold;
         }
        .categories .panel-heading i{
          position: relative;
          margin-right: 3px;
         }
        .categories .panel-body{
          padding: 0px;

         }
         /* overflow: hidden that is mean any thing out of that design hidden them*/
        .categories .option a{
          color: #888;
          text-decoration: none;

        }
        .categories .option .active{
          color:green;
        }
        .categories .option span{
        color: #888;
        cursor: pointer;
        }
        .categories .cat .full-view p{
         margin:10px 0;

        }
        .categories .cat {
         padding: 15px;
         position: relative;
         overflow: hidden;
         }
         .categories hr{
          margin-top: 0;
          margin-bottom: 0;
         }
         .categories .cat .hidden-buttons a{
          margin-right: 5px;
         }
         .categories .cat:hover {
          background-color: #EEE;
         }

         .categories .cat .hidden-buttons {
           /* To move Smoothly */
          -webkit-transition:all .5s ease-in-out;
          -moz-transition:all .5s ease-in-out;
          transition:all .5s ease-in-out;
          position: absolute;
          top: 15px;
          right: -150px;
         }
          .categories .cat:hover .hidden-buttons {
          margin-right: 140px;
         }


         /*~ mark is Next  last-of-type ~hr that is mean  last hr Exist*/
         .categories .cat:last-of-type ~hr {
          display: none;
         }
         .categories .cat .visibility{
          color: #95a5a6;
          padding: 5px 10px;
          margin-right: 6px;
          border-radius: 5px;
          font-weight: bold;
         }
          .categories .cat .commenting{
          color: #34495e;
          padding: 5px 10px;
          margin-right: 6px;
          border-radius: 5px;
          font-weight: bold;
         }
         .categories .cat .advirteses{
          color: #bdc3c7;
          padding: 5px 10px;
          margin-right: 6px;
          border-radius: 5px;
          font-weight: bold;
         }
         .categories .head-cats{
          margin:15px 0 ;
          font-weight: bold;
          font-size: 15px;
          color: #22ab79;
        } 
        .categories .child-cats{
          margin: 0 0 10px 40px;
        }
        .categories .child-cats li{
          margin-left: 15px;
        }
        .categories .child-cats li:before{
         content: " - ";
        }
        .categories .show-delete{
          color: #F00;
          display: none;
        }
         /*End Manage Page*/


         /*End Category Page*/

